body {
  article {
    img {
      width: 100%;
    }
  }

  h1 {
    font-size: 3.5em;
  }
  h2 {
    font-size: 3.5em;
  }
  h3 {
    font-size: 3em;
  }
  h4 {
    font-size: 2.5em;
  }
  h1,
  h2,
  h3,
  h4,
  p {
    margin: 10px 5% 10px 5%;
    // width: 80%;
  }
  p,
  q {
    font-size: 2em;
  }
}
