#contact {
  .form-required {
    font-size: 16px;
    font-weight: normal;
    font-family: var(--font-montserrat);
  }
  form {
    display: flex;
    width: 80%;
    gap: 15px;
    flex-direction: column;
    > div {
      > *,
      select {
        width: 100%;
        margin-bottom: 10px;
      }

      > label {
        text-transform: uppercase;
        font-weight: bold;
        .required {
          color: var(--purple);
        }
      }
      select {
        height: 54px;
        background-color: var(--white);
      }
      fieldset {
        border: none;
        label {
          height: 64px;

          display: grid;
          grid-template-columns: 64px 1fr;
          gap: 15px;
          // display: block;
          .radio-input input:checked {
            accent-color: var(--purple);
            outline: none;
          }
          .radio-label {
            align-self: center;
          }
          input {
            transform: scale(4);
          }
        }
      }
    }
    input {
      height: 48px;
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"],
    select {
      border-style: solid;
      border-color: var(--purple);
    }
    #mySubmit {
      background-color: var(--purple);
      color: var(--white);
      border: none;
    }
  }
}
