main {
  h4 {
    text-transform: uppercase;
  }
  article {
    // margin: 0 10% 0 10%;

    & > section {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &#plan {
        background-color: var(--yellow);
        section {
          background-color: var(--teal);
        }

        @media screen and (min-width: 650px) {
          div {
            display: grid;
            grid-template-columns: 1fr 1fr;
            > section {
              height: 45vw;
              width: 45vw;
            }
            h4 {
              font-size: 2em;
            }
            p,
            q {
              font-size: 1.5em;
            }
          }
        }
        @media screen and (min-width: 1250px) {
          div {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            > section {
              height: 20vw;
              width: 20vw;
            }
          }
        }
      }
      &#testimonials {
        img {
          justify-self: center;
        }
        section {
          height: initial;
        }

        @media screen and (min-width: 650px) {
          div {
            display: grid;
            grid-template-columns: 1fr 1fr;
            h4 {
              font-size: 2em;
            }
            p,
            q {
              font-size: 1.5em;
            }
          }
        }
        @media screen and (min-width: 1250px) {
          div {
            grid-template-columns: 1fr 1fr 1fr 1fr;
          }
        }
      }
      &#about {
        background-color: var(--blue);
        text-align: center;
        margin: 0 auto;
        h4 {
          font-size: 1.5em;
          text-transform: uppercase;
        }
        p {
          font-size: 1.5em;
        }
        > div {
          section {
            border: none;
            display: flex;
            height: initial;
            width: initial;
            flex-direction: column;
          }
          width: 80%;
          display: grid;
          grid-template-columns: 40% 40%;
          gap: 20px;
          img {
            width: 20vw;
            height: 20vw;
            display: block;
            // margin: 0 auto;
            justify-self: center;
          }
        }

        @media screen and (min-width: 650px) {
          div {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            gap: initial;
          }
        }
      }
      > div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 80%;
      }
      section {
        width: 100%;
        height: 60vw;
        margin: 10px;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr;
        // flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        border: 2px solid white;
      }
      img {
        max-width: 40%;
      }
    }

    @import "./contact.scss";
  }
  //   #plan {
  //     div {
  //       display: grid;
  //       justify-content: center;
  //       gap: 10px;
  //       border-style: solid;
  //       border-width: 1px;
  //       border-color: white;
  //       section {
  //         width: 250px;
  //         height: 250px;
  //         // width: 80%;
  //         background-color: var(--teal);
  //         display: flex;
  //         flex-direction: column;
  //         align-items: center;
  //         img {
  //           //   width: 50%;
  //         }
  //       }
  //     }
  //   }
}
