@import url("https://fonts.google.com/share?selection.family=Molle:ital@1%7CMontserrat");

:root {
  --yellow: #f6d64a;
  --teal: #55bcd5;
  --purple: #9b26b0;
  --blue: #499bd2;
  --dark-gray: #222222;
  --light-gray: #eaeaea;
  --white: #ffffff;
  --black: #000000;
  --font-montserrat: "Montserrat", sans-serif;
  --font-molle: "Molle", cursive;
}
